<% include ./layout/header %>
    <div class="Menu__Logo mt-2">
        Danh sách môn học
    </div>
    <div class="Subject">
        <% subjects.forEach(item=>{ %>
            <a class="Subject__Item" href="/subjects/<%=item.slug%>/?level=A">
                <div class="Subject__Item__Name">
                    <%=item.name%>
                </div>
                <div class="Subject__Item__Info">
                    <div class="Subject__Item__Info__Total"><b>Tổng: </b></b>
                        <%=item.questions.length%> câu</div>
                    <div class="Subject__Item__Info__Easy"><b>Dễ: </b>
                        <%=item.easy%> câu</div>
                    <div class="Subject__Item__Info__Medium"><b>Vừa: </b>
                        <%=item.medium%> câu</div>
                    <div class="Subject__Item__Info__Hard"><b>Khó: </b>
                        <%=item.hard%> câu</div>
                    <div class="Subject__Item__Info__Total"><b>Giáo viên: </b></b>
                        <%=item.teacherName || 'Chưa cập nhật'%>
                    </div>
                    <div class="Subject__Item__Info__Total"><b>Ngày tạo: </b></b>
                        <%=item.createdAtString || 'Chưa cập nhật'%>
                    </div>
                </div>
            </a>
            <% }) %>
    </div>
<% include ./layout/footer %>