<% include ./layout/header %>
<% include ./modal/addNewQuestion %>
<div class="container ListQuiz">
    <div class="row justify-content-between align-items-center">
        <div class="row Subject flex-column">
            <div class="SubjectTile">
                <strong>Môn học:</strong> <%= subject.name %></strong>
                <input type="hidden" id="subjectId" data-slug="<%=subject.slug %>" value="<%=subject.id %>">
            </div>
            <div class="SubjectInfo">
                <ul class="list">
                    <li>Tổng: <%=numQuestion.num %> câu</li>
                    <li>Câu dễ: <%=numQuestion.numE %> câu</li>
                    <li>Câu trung bình: <%=numQuestion.numM %> câu</li>
                    <li>Câu khó: <%=numQuestion.numH %> câu</li>
                </ul>
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-sm btn-dark"> Chỉnh sửa</a>
            <a href="#" class="btn btn-sm btn-success ml-2" id="btnAddNewQuestion"> Thêm câu hỏi</a>
        </div>
    </div>
    <div class="ListQuiz__content">
        <ul class="list-group list-group-flush">
            <% if(questions.length > 0) { %>
            <%  questions.forEach(function(quiz, i) { %>
                <li class="list-group-item quiz">
                    <div class="QuizItem">
                        <div class="quiz__content">
                            <h6 class="font-weight-bold">
                                Câu <%=i + 1 + limit*(page-1)%>. <%=quiz.content %>
                            </h6>
                            <ul>
                                <li
                                    <% if(quiz.answers[0].isTrue) {%>
                                        class="text-danger"
                                    <% }%>
                                >
                                    A. <%=quiz.answers[0].content%>
                                </li>
                                <li
                                    <% if(quiz.answers[1].isTrue) {%>
                                        class="text-danger"
                                    <% }%>
                                >
                                    B. <%=quiz.answers[1].content%>
                                </li>
                                <li
                                    <% if(quiz.answers[2].isTrue) {%>
                                        class="text-danger"
                                    <% }%>
                                >
                                    C. <%=quiz.answers[2].content%>
                                </li>
                                <li
                                    <% if(quiz.answers[3].isTrue) {%>
                                        class="text-danger"
                                    <% }%>
                                >
                                    D. <%=quiz.answers[3].content%>
                                </li>
                            </ul>
                        </div>
                        <div class="quiz__option">
                            <a href="#" class="btn btn-sm"> Chỉnh sửa</a>
                            <a href="#" class="btn btn-sm btn-danger"> Xóa</a>
                        </div>
                    </div>
                </li>
            <% });
            } else {%>
                <p class="alert alert-danger">Không có câu hỏi nào.</p>
            <%}%>
            
    </div>
    <div class="d-flex align-items-center flex-column">
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" data-index="-1">Quay lại</a>
              </li>
              <% for(let i = 1; i < Math.ceil(totalPage/limit) + 1; i++) {
                    if(i === page) {
              %>
                <li class="page-item active">
                    <a class="page-link" data-index="<%=i %>" href="#"><%=i %> <span class="sr-only">(current)</span></a>
                </li>
              <%}else{%>
                <li class="page-item"><a class="page-link" data-index="<%=i %>" href="#"><%=i %></a></li>
              <%}}%>
              <li class="page-item">
                <a class="page-link" href="#" data-index="+1">Tiếp theo</a>
              </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    $('input[name="indexResult"]').on('change', function(){
        $('input[name="indexResult"]').prop('checked', false);
        $(this).prop('checked', true);
    })

    $('#btnAddNewQuestion').click(function(){
        $('#FormNewQuestion').trigger('reset');
        $('#modalAddNewQuestion').modal('show');
    })

    $('#btnSaveNewQuestion').click(function(){
        const subjectSlug = $('#subjectId').attr('data-slug');
        const url = `/${subjectSlug}/create`;
        const data = $('#FormNewQuestion').serializeArray();
        let dataObj = handleSerializeArrayToObj(data);
        dataObj.subjectId = $('#subjectId').val();
        dataObj.subjectSlug = subjectSlug;
        const options = {   
            method: 'POST',
            url: url,
            data: dataObj,
            success: function(res){
                setTimeout(function(){
                    document.location.reload();
                }, 2000);
                $('#modalAddNewQuestion').modal('hide');
                alert('Tạo câu hỏi mới thành công!')
            },
            error: function(err){
                console.log(err.message);
            }
        };
        $.ajax(options);
    })

    $('.page-link').on('click', function(){
        const path = document.location.path;
        const limitIndex = document.location.search.indexOf('&limit=');
        const limit = document.location.search.slice(limitIndex + 7);

        let pageCurrentIndex = document.location.search.indexOf('?page=');
        const pageCurrent = document.location.search.slice(limitIndex + 6, limitIndex);
        let page = $(this).attr('data-index');
        page = page  === '-1' ? pageCurrent - 1 : page;
        page = page  === '+1' ? pageCurrent + 1 : page;
        const search = `?page=${page}&limit=${limit}`;
        document.location.href = '/subjects/Tam-ly-hoc' + search;
    })
</script>
<% include ./layout/footer %>